/* Typography */

$font-xs: 0.75rem;   // 12px
$font-sm: 0.875rem;  // 14px
$font-md: 1rem;      // 16px
$font-lg: 1.25rem;   // 20px
$font-xl: 1.5rem;    // 24px
$font-2xl: 2rem;     // 32px

$primary-font:  "Inter", sans-serif;


/* Colors */
$bg-clr: #F9FAFB;
$txt-clr: #111827;
$primary-clr: #3B82F6;
$success-clr: #10B981;
$warning-clr: #F59E0B;
$danger-clr: #EF4444;
$stroke-clr: #2D2D2D;
$highlight-clr: #FFD166;